@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$fonts-headline: 'Libre Baskerville', serif;
$fonts-body: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color: rgb(50, 43, 43);
$light-background-color: white;
$primary: gray;
$accent1: darkgray;
$accent2: lightgray;
$text: black;
$text-dark: black;
$text-light: white;
$link: rgb(6, 6, 94);