#color_scheme {
    /* Reference URL:
        https://i.pinimg.com/originals/0c/82/4d/0c824ddb42102dc880371c28360c58cd.jpg
     */
    color: #F4c5d7;
    color: #e981a4;
    color: #f9adb7;
    color: #fec9c3;
    color: #faf2dd;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

header {
    padding: 10px;
    margin-top: 50px;
    border-bottom: 1px darkgray solid;
}

h1 {
    text-align: center;
    color: #e981a4;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.class li {
    text-align: center;
    list-style: none;
    padding: 1em;
    margin: 1em;
    background-color: #e981a4;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #faf2dd;
}

a::after {
    color: #f9adb7;
}








@media only screen and (min-width: 900px) {
    .parent {
        display: flex;
    }
    .child {
        width: 50%;
    }
}

@media only screen and (max-width: 900px) {
    body {
        margin: 30px;
    }
}

main {
    margin: 30px;
}


h3 {
    color: #3b5c78;
}


footer {
    padding: 10px;
    color: gray;
    font-size: small;
    border-top: 1px solid gray;
}